<% include ./particles/header.ejs %>

<h1>Hi there</h1>
<h2>- <%= title %> = </h2>

<hr>

<p>Go to <a href="/list">list page</a> to see the content of your Google Drive Account</p>


<% include ./particles/footer.ejs %>
